/*********************************************
		    Carosello
*********************************************/


/*********************************************
			Scheda Prodotto
*********************************************/

/*Prodotti*/

.product {
    width: 230px;
    height: 350px;
}

.product > img {
    width: 230px;
    height:350px;
}


.product-desc {
    font-size: 14px;
}

.product-price {
    font-size: 22px;
}

.product-info {
    margin-top: 50px;
}

/*View*/

.content-wrapper {
    max-width: 1140px;
    background: #fff;
    margin: 0 auto;
    margin-top: 25px;
}

.container-fluid {
    max-width: 1140px;
    margin: 0 auto;
}

.view-wrapper {
    float: right;
    max-width: 70%;
    margin-top: 25px;
}

.container {
    padding-left: 0px;
    padding-right: 0px;
    max-width: 100%;
}

/*********************************************
			TreeList Ordini
*********************************************/

div.panel:first-child {
    margin-top: 20px;
}


div.treeview {
    font-size: 14px;
    color:black;
    font-family:Arial;
    min-height: 100px;
    max-height: 256px;
    overflow: auto;
    padding: 4px;
    margin-bottom: 20px;
    color: #369;
    border: solid 1px;
    border-radius: 4px;
}

div.treeview ul:first-child:before {
    display: none;
}

.treeview, .treeview ul {
    margin: 0;
    padding: 0;
    list-style: none;
    color: black;
}

.treeview ul {
    margin-left: 1em;
    position: relative
}

.treeview ul ul {
    margin-left: .5em
}


    .treeview ul:before {
        /*
    content: "";
    border-left: 1px solid;
                display: block;
        width: 0;
        position: absolute;
        top: 0;
        left: 0;
        /* creates a more theme-ready standard for the bootstrap themes
        bottom: 15px;
        */
    }

.treeview li {
    margin: 0;
    position: relative
}


.treeview ul li:before {
    display: block;
    width: 10px;
    height: 0;
    border-top: 1px solid;
    margin-top: -1px;
    position: absolute;
    top: 1em;
    left: 0
}

.tree-indicator {
    margin-right: 5px;
    cursor: pointer;
}

.treeview li a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.treeview li button, .treeview li button:active, .treeview li button:focus {
    text-decoration: none;
    color: inherit;
    border: none;
    background: transparent;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    outline: 0;
}

/*********************************************
			    Carrello
*********************************************/

.table > tbody > tr > td, .table > tfoot > tr > td {
    vertical-align: middle;
}

/*********************************************
			   Da ricondurre
*********************************************/

body {
    font-family: 'Segoe UI';
    font-size: small;
    padding-top: 70px;
}

.fieldlist {
    margin: 0 0 -2em;
    padding: 0;
}

    .fieldlist li {
        list-style: none;
        padding-bottom: 2em;
    }

    .fieldlist label {
        display: block;
        padding-bottom: 1em;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 12px;
        color: #444;
    }

.box {
    width: 500px;
    margin: 0 auto;
}

.text-error {
    color: red;
}




/*********************************************
			   Elenco Prodotti
*********************************************/


.caption {
    height: 130px;
    overflow: hidden;
}

.thumbnail img {
    width: 100%;
}

#pulsante {
    padding-left:30%;
    padding-bottom:5px;
}


/*********************************************
			   404 Not Found
*********************************************/

.error {
    margin: 0 auto;
    text-align: center;
}

.error-code {
    bottom: 60%;
    color: #2d353c;
    font-size: 96px;
    line-height: 100px;
}

.error-desc {
    font-size: 12px;
    color: #647788;
}

.m-b-10 {
    margin-bottom: 10px !important;
}

.m-b-20 {
    margin-bottom: 20px !important;
}

.m-t-20 {
    margin-top: 20px !important;
}