<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>

    <!--inizio parte finale header-->
    <meta charset="utf-8" />
    <link href="~/styles/StyleSheet.css" rel="stylesheet" />
    <!--qui ci andrebbe lo script.js ma non funziona -.-, se messo nelle singole pagine si, non ha enso-->
    <!--fine parte finale header-->

    
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <!-- jQuery JavaScript -->
    <script src="~/js/jquery.min.js"></script>

</head>
<body>
    @RenderSection("Top", required: false)
    @RenderBody()
</body>
</html>