<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
	
	<!-- Css -->
    <link href="~/styles/StyleSheet.css" rel="stylesheet" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.min.js"></script>
	<script src="~/js/Filtro.js"  type="text/javascript"></script>
    <script src="~/js/TreeList.js"  type="text/javascript"></script>
</head>
<body>
    @RenderSection("Top", required: false)
    @RenderBody()
</body>
</html>