<ul id="menu">
    <li>
        @Html.ActionLink("Prodotti", "Index", "Prodotti")
    </li>
    <li>
        @Html.ActionLink("Courses", "Index", "Courses")
    </li>
    <li>
        @Html.ActionLink("Enrollments", "Index", "Enrollments")
    </li>
</ul>

<script>
    $("#menu").kendoMenu();
</script>
