<ul id="menu">
    <li>
        @Html.ActionLink("Login", "Login", "Account")
    </li>
    <li>
        @Html.ActionLink("Courses", "Index", "Courses")
    </li>
    <li>
        @Html.ActionLink("Enrollments", "Index", "Enrollments")
    </li>
</ul>

<script>
    $("#menu").kendoMenu();
</script>
