@{
    ViewBag.Title = "Register";
    Layout = "_LayoutEmpty";
}
<!--
<div class="box k-block k-info-colored">
    <form method="POST">
        <ul class="fieldlist">
            <li>
                <label for="email">Email</label>
                <input type="email" class="k-textbox" id="email" name="email" style="width:100%;">
            </li>
            <li>
                <label for="password">Password</label>
                <input type="password" class="k-textbox" id="password" name="password"
                       style="width: 100%;">
            </li>
            <li>
                <label for="repassword">Type password again</label>
                <input type="password" class="k-textbox" id="repassword" name="repassword"
                       style="width: 100%;">
            </li>
            <li>
                <button type="submit" class="k-button k-primary">Register</button>
            </li>
        </ul>
    </form>
    <div asp-validation-summary="All" class="fieldlist text-error"></div>
</div>
    -->

<div id="signupbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="panel-title">Registrazione</div>
            <div style="float:right; font-size: 85%; position: relative; top:-10px"><a id="signinlink"  onclick="@("window.location.href='" + @Url.Action("Login", "Account") + "'");">Log In</a></div>
        </div>
        <div class="panel-body">
            <form id="signupform" class="form-horizontal" method="post">

                <div id="signupalert" style="display:none" class="alert alert-danger">
                    <p>Error:</p>
                    <span></span>
                </div>



                <div class="form-group">
                    <label for="email" class="col-md-3 control-label">Email</label>
                    <div class="col-md-9">
                        <input type="email" class="form-control" name="email" placeholder="Email">
                    </div>
                </div>

                <div class="form-group">
                    <label for="password" class="col-md-3 control-label">Password</label>
                    <div class="col-md-9">
                        <input type="password" class="form-control" name="password" placeholder="Password">
                    </div>
                </div>

                <div class="form-group">
                    <label for="icode" class="col-md-3 control-label">Repassword</label>
                    <div class="col-md-9">
                        <input type="password" class="form-control" name="repassword" placeholder="Repassword">
                    </div>
                </div>
                <div class="form-group">
                    <!-- Button -->
                    <div class="col-md-offset-3 col-md-9">
                        <button id="btn-signup" type="submit" class="btn btn-info"><i class="icon-hand-right"></i> &nbsp Registrati</button>
                    </div>
                </div>


            </form>
        </div>
    </div>


    <div asp-validation-summary="All" class="fieldlist text-error"></div>
</div>
   
