@using GranBazar.Models
@using System.Collections.Generic
@model IEnumerable<Prodotto>
@{
    ViewBag.Title = "Html";
}
<table border="1">
    <thead>
        <tr>
            <th>NomeProdotto</th>
            <th>DescrizioneProdotto</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var s in Model)
        {
            <tr>
                <td>@s.NomeProdotto</td>
                <td>@s.DesrizioneProgotto</td>
            </tr>
        }
    </tbody>
</table>