@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewBag.Title = "ElencoOrdini";
    Layout = "_Layout";
}
@model List<GranBazar.Models.VistaProdottoOrdine>



            @for (int i = 0; i < Model.Count; i++)
            {
                
                    <tr>
                        
                        <td>@Model.ElementAt(i).NomeProdotto</td>
                    

                    </tr>
            }